{% extends "base.html" %}

{% block title %}
Clientes - Dulces Delicias
{% endblock %}

{% block content %}

<section class="py-5">

    <div class="container">

        <h2 class="text-center text-danger mb-5">
            Gestión de Clientes
        </h2>

        <div class="card shadow">

            <div class="card-body">

                <div class="table-responsive">

                    <table class="table table-striped table-hover">

                        <thead class="table-danger">

                            <tr>
                                <th>ID</th>
                                <th>Cliente</th>
                                <th>Correo</th>
                                <th>Teléfono</th>
                            </tr>

                        </thead>

                        <tbody>

                            <tr>
                                <td>001</td>
                                <td>María López</td>
                                <td>maria@gmail.com</td>
                                <td>0991111111</td>
                            </tr>

                            <tr>
                                <td>002</td>
                                <td>Juan Pérez</td>
                                <td>juan@gmail.com</td>
                                <td>0982222222</td>
                            </tr>

                            <tr>
                                <td>003</td>
                                <td>Ana González</td>
                                <td>ana@gmail.com</td>
                                <td>0973333333</td>
                            </tr>

                            <tr>
                                <td>004</td>
                                <td>Carlos Ramírez</td>
                                <td>carlos@gmail.com</td>
                                <td>0964444444</td>
                            </tr>

                        </tbody>

                    </table>

                </div>

            </div>

        </div>

    </div>

</section>

{% endblock %}