{% extends "base.html" %}

{% block title %}
Proveedores - Dulces Delicias
{% endblock %}

{% block content %}

<section class="py-5">

    <div class="container">

        <h2 class="text-center text-danger mb-5">
            Gestión de Proveedores
        </h2>

        <div class="card shadow">

            <div class="card-body">

                <div class="table-responsive">

                    <table class="table table-striped table-hover">

                        <thead class="table-danger">

                            <tr>
                                <th>ID</th>
                                <th>Proveedor</th>
                                <th>Producto</th>
                                <th>Contacto</th>
                            </tr>

                        </thead>

                        <tbody>

                            <tr>
                                <td>001</td>
                                <td>Distribuidora Dulce</td>
                                <td>Harina</td>
                                <td>0994444444</td>
                            </tr>

                            <tr>
                                <td>002</td>
                                <td>Insumos Pasteleros</td>
                                <td>Chocolate</td>
                                <td>0985555555</td>
                            </tr>

                            <tr>
                                <td>003</td>
                                <td>Decoraciones S.A.</td>
                                <td>Decoraciones</td>
                                <td>0976666666</td>
                            </tr>

                            <tr>
                                <td>004</td>
                                <td>Frutas Amazónicas</td>
                                <td>Frutas</td>
                                <td>0957777777</td>
                            </tr>

                        </tbody>

                    </table>

                </div>

            </div>

        </div>

    </div>

</section>

{% endblock %}