<!-- ===================== NAVBAR ===================== -->

<nav class="navbar navbar-expand-lg navbar-dark bg-danger sticky-top shadow">

    <div class="container">

        <a class="navbar-brand fw-bold"
           href="{{ url_for('inicio') }}">

            <img
                src="{{ url_for('static', filename='img/logo.jpg') }}"
                width="45"
                class="rounded-circle me-2"
                alt="Logo">

            Dulces Delicias

        </a>

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#menu">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="menu">

            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ url_for('inicio') }}">
                        Inicio
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ url_for('inicio') }}#nosotros">
                        Nosotros
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ url_for('productos') }}">
                        Productos
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ url_for('inicio') }}#contacto">
                        Contacto
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ url_for('inicio') }}#registro">
                        Pedidos
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ url_for('clientes') }}">
                        Clientes
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ url_for('proveedores') }}">
                        Proveedores
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ url_for('facturacion') }}">
                        Facturación
                    </a>
                </li>

            </ul>

        </div>

    </div>

</nav>